
/*Override existing CSS*/
.CRMS_TXTINTERNAL, .CRMS_TXTFETOSUB, .CRMS_TXTSUBMITTER, .PSLONGEDITBOX{
	font-size: 9pt !important;
    color: #333;
}

/*Custome CSS*/
#mod_navbar {
	background-color:#00447566;
	position:fixed;
	top:0;
	height:25px;
	width:400px;
	margin-left:-200px;
	left:50%;
	text-align:center;
	border-radius: 0px 0px 25px 25px;
	border: 3px solid #00306066;
	border-top: none;
}
#mod_navbar a {
	color:#f2f2f2;
	text-align:center;
	padding: 0px 10px;
	text-decoration:none;
	font-size:18px;
}
#mod_navbar a:hover {
	background: #ddd;
	color: #333;
    cursor: pointer;
}
/*
#mod_navbar #mod_logo{
	font-size:20px;
	width:25px;
}
*/


.comment_topbar {
    height: 15px;
    border: 1px dashed #c0c0c0;
    width: 810px;
    position: absolute;
    margin-top: -16px;
    /*background-color: #c0c0c00d;*/
    text-align: right;
    font-size: 11px;
    border-bottom: none;
    color: silver;
    font-family: monospace;
}
.comment_topbar:hover{
    cursor: pointer;
    background-color: #c0c0c03d;
}

.hide_comment {
	max-height: 100px !important;
	overflow: hidden !important;
	border-bottom: 5px solid lightgrey !important;
}
.summary_note{
	background-color: honeydew !important;
}